<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>fail</title>
    <link rel="stylesheet" href="./style.css" />
    <style>
      .container {
        background-image: url("./img.jpg");
        filter: blur(5px);
        height: 500px;
        background-position: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="box">dsds</div>
    </div>
  </body>
</html>
